<div class="container">
  <mat-card *ngIf="dataSource.data.length > 0" class="film-card">
    <mat-card-header>
      <mat-card-title>
        {{ dataSource.data[0].titulo }}
      </mat-card-title>

      <mat-card-subtitle class="header-title">
        Descripción:
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{ dataSource.data[0].descripcion }}
      </mat-card-subtitle>


      <mat-card-subtitle class="header-title">
        Actores:
      </mat-card-subtitle>
      <mat-card-subtitle>
        <ul *ngFor="let actor of dataSource.data[0]?.actores">
          <li>{{ actor }}</li>
        </ul>
      </mat-card-subtitle>

      <mat-card-subtitle class="header-title">
        Idioma:
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{ dataSource.data[0].idioma }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
