<div class="bg-dark">
<mat-toolbar>
  <mat-toolbar-row>
      <div class="header_container">
          <div class="header_title">
              <mat-icon>storefront</mat-icon> CAPGEFLIX
          </div>

          <div class="header_separator"> | </div>

          <div class="header_menu">
              <div class="header_button">
                  <a routerLink="/language" routerLinkActive="active">Idiomas</a>
              </div>
              <div class="header_button">
                  <a routerLink="/categories" routerLinkActive="active">Categorías</a>
              </div>
              <div class="header_button">
                  <a routerLink="/actors" routerLinkActive="active">Actores</a>
              </div>
              <div class="header_button">
                <a routerLink="/films" routerLinkActive="active">Películas</a>
            </div>
          </div>


      </div>
  </mat-toolbar-row>
</mat-toolbar>
