@if(VM.HayNotificaciones) {
  <div class="notificaciones">
    @for(item of VM.Listado; track item.Id) {
      <div class="alert {{item.Type | i18nSelect: {
        'error': 'bg-red-500 text-white',
        'warn': 'bg-yellow-500 text-black',
        'info': 'bg-blue-500 text-white',
        'other': 'bg-green-500 text-white'
      } }} alert-dismissible fade show" role="alert">
        {{item.Message}}
        <button type="button" class="btn-close my-1" data-bs-dismiss="alert" aria-label="Close" (click)="VM.remove($index)"></button>
      </div>
    }
    <div class="text-center">
      <button class="btn btn-info " type="button" (click)="VM.clear()">Cerrar</button>
    </div>
  </div>
}
