.container {
  padding: 16px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
}

.film-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.film-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  text-align: center;
  background-color: rgb(216, 200, 200);
  padding: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.film-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .film-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (max-width: 600px) {
  .film-cards-container {
    grid-template-columns: 1fr;
  }
}
