<div class="container">
  <h1 class="title">Listado de Películas</h1>

  <!-- Contenedor de tarjetas con grid -->
  <div class="film-cards-container">
    <!-- Recorremos los elementos y mostramos una tarjeta por cada uno -->
    <mat-card *ngFor="let element of dataSource.data" class="film-card">
      <mat-card-header>
        <div mat-card-avatar class="film-avatar">
          <img src="https://picsum.photos/40" alt="Avatar" class="avatar-img" />
        </div>
        <mat-card-title>{{ element.titulo }}</mat-card-title>
        <mat-card-subtitle>ID: {{ element.id }}</mat-card-subtitle>
      </mat-card-header>


      <!-- Descripción de la película -->
      <mat-card-content>
        <p>{{ element.descripcion }}</p>
      </mat-card-content>

    </mat-card>
  </div>

  <!-- Paginador -->
  <mat-paginator
    (page)="loadPage($event)"
    [pageSizeOptions]="[5, 10, 20]"
    [pageIndex]="pageNumber"
    [pageSize]="pageSize"
    [length]="totalElements"
    showFirstLastButtons
    class="mt-6">
  </mat-paginator>
</div>
