<div class="container">
  <h1>Listado de Películas</h1>
  <div class="buttons">
    <!-- <button mat-flat-button color="primary" (click)="createFilm()">Nuevo actor</button> -->
</div>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef> Titulo  </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
</ng-container>


<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>
