<form [formGroup]="miForm" (ngSubmit)="onSave()" class="container mt-5">
  <h1 class="text-center">Crear Película</h1>
  <!-- Título -->
  <div class="form-floating mb-3">
    <input class="form-control" formControlName="titulo" placeholder="Título" required>
    <label for="titulo">Título</label>
  </div>

  <!-- Descripción -->
  <div class="form-floating mb-3">
    <textarea class="form-control" formControlName="descripcion" placeholder="Descripción" rows="4" required></textarea>
    <label for="descripcion">Descripción</label>
  </div>

  <!-- Periodo -->
  <div class="form-floating mb-3">
    <input type="number" class="form-control" formControlName="periodo" placeholder="Periodo de alquiler" required>
    <label for="periodo">Periodo de alquiler</label>
  </div>

  <!-- Precio -->
  <div class="form-floating mb-3">
    <input type="number" class="form-control" formControlName="precio" placeholder="Precio" required>
    <label for="precio">Precio</label>
  </div>

<!-- Idioma (select) -->
<div class="form-floating mb-3">
  <select class="form-control" formControlName="idiomaId" required>
    <option *ngFor="let idioma of idiomas" [value]="idioma.languageId">
      {{ idioma.idioma }}
    </option>
  </select>
  <label for="idiomaId">Idioma</label>
</div>

  <div class="text-center py-3">
    <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
  </div>
</form>
