<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Título del Header -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="fas fa-store"></i> CAPGEFLIX
    </a>

    <!-- Botón para pantallas pequeñas (Hamburger Menu) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de Navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actors" routerLinkActive="active">Actores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/films" routerLinkActive="active">Películas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
